html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
/* Head-Container Adjustment */

.head-container, footer{
    background-color: #1F2937;
    color: white;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding: 5px 150px 150px 150px;
}
h1, header{
    display: inline;
}
nav{
display: inline-block;
float: right;
}
a{
    color: white;
}

/* Main-Container Adjustment */

.main-container{
    display: flex;
    justify-content: space-between;
    /*flex-direction:column;
    width: 200px; */
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.image{
    background-color: red;
}

/* Info-Container Adjustment */

.info-container{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    border: solid blue 1px;
    height: 150px;
    width: 150px;
    margin: auto;
}
.container{
    /* background-color: red; */
    margin: 20px;
}

/* Quote-Container Adjustment */
.quote-container{
    padding: 105px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
strong{
    display: flex;
    flex-direction: row-reverse;
}

/* Action-Container Adjustment*/
.action-container{
    padding-left: 50px;
    padding-right: 50px;
}
.inner-container{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
}
.sign-up-bt{
    display: flex;
    align-items: center;
}

/* Footer Adjustment */

footer{
    background-color:#1F2937;
    text-align: center;
}

