html{
    box-sizing: border-box;
}

/* Head-Container Adjustment */

.head-container, footer{
    background-color: #1F2937;
    color: white;
}
h1, header{
    display: inline;
}
nav{
display: inline-block;
float: right;
}
a{
    color: white;
}

/* Main-Container Adjustment */

.main-container{
    display: flex;
    justify-content: space-around;
    /*flex-direction:column;
    width: 200px; */
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.image{
    background-color: red;
}